<div class="form">
  <div class="form-title"> 
    Editing
  </div>  
<%= render "layouts/errors", obj: @post %>
  <%= form_with model: @post do |f| %>
  <div class="field">
    <%= f.file_field :post_image, accept: "image/*" %>
  </div>
  <div class="field">
    <%= f.label :内容 %>
      <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.submit '編集を保存する', class:"btn btn-outline-secondary btn-lg" %>
  </div>
  <% end %>
  <div><%= link_to "戻る", post_path(@post.id) %></div>
