<div class="form">
  <div class="form-title">
    Post to album
  </div>
  <%= render "layouts/errors", obj: @post %>
  <%= form_with model: @post do |f| %>
  <div class="field">
    <%= f.file_field :post_image, accept: "image/*" %>
  </div>
  <div class="field">
    <%= f.label :本文 %>
      <%= f.text_area :body, class:"text-line" %>
  </div>
  <div class="field">
    <%= f.submit '記録する' %>
  </div>
  <% end %>
  </div>
