<%= render "public/categories/category", categories: @categories %>
<div class="post">
  <h3 class="text-center title">photo details</h3>
  <div class="post-details">
      <div class="post-item">
          <div>
           <% if @post.post_image.attached? %>
            <%= image_tag @post.get_post_image(300,300), class: "rounded" %>
           <% else %>
            <%= image_tag 'no_image', size: "300x300", class: "rounded" %>
           <% end %>
          </div>
          <div>
            <%= link_to member_path(@post.member.id) do %>
            <strong><%= @post.member.name %></strong>
            <% end %>
          </div>
          <div class="my-4">
            <!--入力時の改行をビューに反映-->
            <%= safe_join(@post.body.split("\n"),tag(:br)) %>
          </div>
          <div>
            <% if @post.member == current_member || admin_signed_in? %>
            <%= link_to "編集する", edit_post_path(@post.id), class: "btn btn-outline-secondary" %>
            <%= link_to "削除する", post_path, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-outline-danger" %>
            <% end %>
          </div>
          <div class="mt-4 text-cenater">
        <%= link_to "アルバム一覧へ", posts_path(@posts) %>
      </div>
        </div>
      </div>
    </div>
