<%= render "layouts/category", categories: @categories %>
<div class="post">
  <h3 class="text-center contents-title">post details</h3>
  <div class="post-details">
      <div class="post-item">
          <div>
           <% if @post.post_image.attached? %>
            <%= image_tag @post.get_post_image(250,250) %>
           <% else %>
            <%= image_tag 'no_image', size: "200x200" %>
           <% end %>
          </div>
          <div>
            <%= link_to member_path(@post.member.id) do %>
            <strong><%= @post.member.name %></strong>
            <% end %>
          </div>
          <div>
            <!--入力時の改行をビューに反映-->
            <%= safe_join(@post.body.split("\n"),tag(:br)) %>
          </div>
          <div>
            <%= link_to "編集する", edit_post_path(@post.id), class: "btn btn-success" %>
            <%= link_to "削除する", post_path, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    </div>
