<div class="form">
  <div class="form-title">
    <%= @member.name %>さんの会員情報編集
  </div>

  <%= form_with model: @member, url: admin_member_path(@member.id), method: :patch do |f| %>
  <div class="field">
    会員ID：<strong><%= @member.id %></strong>
  </div>
<div class="field">
  <%= render "member_edit", f: f %>
</div>
  <div class="field">
    <%= f.label :会員ステータス %>
    <%= f.radio_button :is_deleted, false %>
    <%= f.label :is_deleted, "有効" %>
    <%= f.radio_button :is_deleted, true %>
    <%= f.label :is_deleted, "退会" %>
  </div>

  <div class="field">
    <%= f.submit "変更を保存", class:"btn btn-outline-secondary btn-lg" %>
  </div>
  <% end %>
</div>