<h3>レシピを編集する</h3>
  <%= form_with model: @recipe, url: recipe_path(@recipe.id), method: :patch  do |f| %>
  <div>
    <%= f.file_field :recipe_image, accept: "image/*" %>
  </div>
  <div>
   <%= f.label :カテゴリー %>
   <%= f.collection_select(:category_id, @categories, :id, :name, {prompt: "--選択してください--"}) %>
  </div>
  <div>
    <%= f.label :タイトル %>
      <%= f.text_field :title %>
  </div>
    <%= f.label :材料 %>
      <%= f.text_field :ingredient %>
  <div>
    <%= f.label :説明 %>
      <%= f.text_area :body %>
  </div>
  <div>
    <%= f.submit '編集を保存する' %>
  </div>
  <% end %>