<div class="form">
  <div class="form-title">  
    Post a recipe
  </div>
  <%= render "layouts/errors", obj: @recipe %>
  <%= form_with model: @recipe do |f| %>
  <div class="field">
    <%= f.file_field :recipe_image, accept: "image/*" %>
  </div>
  <div class="field">
   <%= f.label :カテゴリー %>
   <%= f.collection_select(:category_id, @categories, :id, :name, {prompt: "--選択してください--"}) %>
  </div>
  <div class="field">
    <%= f.label :タイトル %>
      <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :材料 %>
      <%= f.text_field :ingredient %>
  </div>
  <div class="field">
    <%= f.label :説明 %>
      <%= f.text_area :body, class:"text-line" %>
  </div>
  <div class="field">
    <%= f.submit '投稿する', class:"btn btn-outline-secondary btn-lg" %>
  </div>
  <% end %>
  </div>
