<div class="container">
  <div class="row">
     <div>
      <%= render 'layouts/category', categories: @categories %>
    </div>
    <div class="col-8">
      <h3>レシピ詳細</h3>
        <div>
         <% if @recipe.recipe_image.attached? %>
          <%= image_tag @recipe.get_recipe_image(200,200) %>
         <% else %>
          <%= image_tag 'no_image', size: "300x200" %>
         <% end %>
        </div>
        <div>
          <p>カテゴリー</p>
          <%= @recipe.category.name %>
        </div>
        <div>
          <p>タイトル</p>
          <%= @recipe.title %>
        </div>
        <div>
          <p>主な具材</p>
          <%= @recipe.ingredient %>
        </div>
        <div>
          <p>説明</p>
          <!--入力時の改行をビューに反映-->
          <%= safe_join(@recipe.body.split("\n"),tag(:br)) %>
        </div>
        <div>
          <% if @recipe.member == current_member %>
          <%= link_to "編集する", edit_recipe_path(@recipe.id), class: "btn btn-success" %>
          <%= link_to "削除する", recipe_path, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger" %>
          <% end %>
          <div id = "favorite_<%= @recipe.id %>">
            <%= render partial: "public/recipe_favorites/recipe_favorite", locals: { recipe: @recipe } %>
          </div>
          <div id = "bookmark_<%= @recipe.id %>">
            <%= render partial: "public/bookmarks/bookmark", locals: { recipe: @recipe } %>
          </div>

          <div class="new-comment">
            <%= render partial: "public/comments/form", locals: { recipe: @recipe, comment: @comment } %>
          </div>
          <div id = "comments_area">
            <%= render partial: "public/comments/comment", locals: { recipe: @recipe } %>
          </div>
      </div>
    </div>