<div class="container">
  <div class="row">
    <div class="col-4">
      <%= render "layouts/sidebar", categories: @categories %>
    </div>
    <div class="col-8">
      <h3>レシピ詳細</h3>
        <div>
         <% if @recipe.recipe_image.attached? %>
          <%= image_tag @recipe.get_recipe_image(200,200) %>
         <% else %>
          <%= image_tag 'no_image', size: "300x200" %>
         <% end %>
        </div>
        <div>
          <p>カテゴリー</p>
          <%= @recipe.category.name %>
        </div>
        <div>
          <p>タイトル</p>
          <%= @recipe.title %>
        </div>
        <div>
          <p>主な具材</p>
          <%= @recipe.ingredient %>
        </div>
        <div>
          <p>説明</p>
          <!--入力時の改行をビューに反映-->
          <%= safe_join(@recipe.body.split("\n"),tag(:br)) %>
        </div>
        <div>
          <% if @recipe.member == current_member %>
          <%= link_to "編集する", edit_recipe_path(@recipe.id), class: "btn btn-success" %>
          <%= link_to "削除する", recipe_path, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger" %>
          <% end %>
          <% if @recipe.recipe_favorited_by?(current_member) %>
            <p>
              <%= link_to recipe_recipe_favorites_path(@recipe), method: :delete do %>
                ♥<%= @recipe.recipe_favorites.count %> いいね
              <% end %>
            </p>
            <% else %>
            <p>
              <%= link_to recipe_recipe_favorites_path(@recipe), method: :post do %>
                ♡<%= @recipe.recipe_favorites.count %> いいね
              <% end %>
            </p>
          <% end %>
        </div>

        <div>
          <p>コメント件数：<%= @recipe.comments.count %></p>
          <% @recipe.comments.each do |comment| %>
            <p><%= image_tag comment.member.get_profile_image(100,100) %></p>
            <%= comment.member.name %>
            <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
            <% if comment.member == current_member || admin_signed_in? %>
              <%= link_to "削除", recipe_comment_path(comment.recipe, comment), method: :delete %>
            <% end %>
          <% end %>
        </div>
        <div>
          <%= form_with model: [@recipe, @comment] do |f| %>
            <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
            <%= f.submit "送信する" %>
          <% end %>
        </div>
      </div>
    </div>