<% if recipe.comments.present? %>
<p>コメント件数：<%= recipe.comments.count %></p>

  <% recipe.comments.each do |comment| %>
  <div class="comment">
  <%= link_to member_path(comment.id) do %>
  <%= image_tag comment.member.get_profile_image(70,70), class: "rounded" %>
    <% end %>
    <%= comment.created_at.strftime('%Y/%m/%d') %>：<%= comment.comment %>
      <div class="comment-delete">
        <% if comment.member == current_member || admin_signed_in? %>
          <%= link_to "削除", recipe_comment_path(comment.recipe, comment), method: :delete, remote: true, class:"btn btn-danger btn-sm" %>
      </div>
      <% end %>
    <% end %>
  <% else %>
    <p>コメントはまだありません</p>
  </div>
  <% end %>