<div><%= link_to "レシピ投稿", new_recipe_path %></div>
<div><%= link_to "料理投稿", new_post_path %></div>

<div class="container">
  <div class="row">
    <div class="col-4">
      <%= render "layouts/sidebar", categories: @categories %>
      <div>
        <h3>ユーザー情報</h3>
        <%= image_tag @member.get_profile_image(300,300) %>
        <h3><%= @member.name %></h3>
        <h4><%= @member.introduction %></h4>
        <p>フォロー<%= link_to @member.followings.count, member_followings_path(@member) %></p>
        <p>フォロワー<%= link_to @member.followers.count, member_followers_path(@member) %></p>
        <%= link_to "ブックマークしたレシピ", bookmarks_member_path(@member) %>
      </div>
      <div>
        <% if @member == current_member %>
        <%= link_to "プロフィール編集", edit_member_path(current_member) %>
        <% end %>
      </div>
    </div>
    <div class="col-8">
      <h4>マイレシピ</h4>
        <% @recipes.each do |recipe| %>
      <div>
          <%= link_to recipe_path(recipe.id) do %>
          <%= image_tag recipe.get_recipe_image(200,200) %>
          <% end %>　説明：<%= recipe.body %><br>
          レシピ名：<%= recipe.title %>
          <%= link_to "#{recipe.comments.count} コメント", recipe_path(recipe.id) %>
        <% end %>
      </div>
      <div>
        <h3>マイアルバム</h3>
        <%= render 'public/posts/post_index', posts: @posts %>
      </div>
    </div>
  </div>
</div>