<div class="container">

  <div class="row pt-4">
      <div class="col-2 offset-2">

        <div class="link">
        <div><%= link_to new_recipe_path do %>
          <p><i class="fa-solid fa-square-pen fa-lg"></i>レシピを投稿する</p>
          <% end %>
        </div>
        <div><%= link_to new_post_path do %>
          <p><i class="fa-solid fa-image fa-lg"></i>写真を投稿する</p>
          <% end %>
        </div>
        <div>
          <%= link_to member_myrecipe_path(@recipes) do %>
          <p>マイレシピ一覧</p>
          <% end %>
        </div>
        <div>
          <%= link_to member_myalbum_path(@posts) do %>
          <p>マイアルバム一覧</p>
          <% end %>
        </div>
      </div>

        <div class="user-info">
        <%= image_tag @member.get_profile_image(150,150), class: "rounded-circle" %>
        <h5><%= @member.name %></h5>
        <p><%= @member.introduction %></p>
        <p><small>フォロー</small><%= link_to @member.followings.count, member_followings_path(@member) %>
        <small>フォロワー</small><%= link_to @member.followers.count, member_followers_path(@member) %>
        </p>
        <%= link_to bookmarks_member_path(@member) do %>
        <p><i class="fa-solid fa-bookmark"></i><small>ブックマーク済</small></p>
         <% end %>
        <div>
          <% if @member == current_member %>
          <%= link_to edit_member_path(current_member), class:'btn btn-outline-secondary btn-block' do %>
          プロフィール編集
          <% end %>
          <% end %>
          </div>
        </div>

      </div>


    <div class="col-6 main-post">

      <div class="mypage-recipe">
        <h5 class="field">Recent my recipe</h5>
          <% if @recipes.exists? %>
          <% @recipes.each do |recipe| %>
          <div class="card mb-2 pt-1" style="max-width: 530px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img class="mypage-recipe-image">
                  <%= link_to recipe_path(recipe.id) do %>
                  <%= image_tag recipe.get_recipe_image(150,150), class: "rounded" %>
                  <% end %>
                </img>
              </div>
              <div class="col-md-8 mypage-recipe-text">
                <div class="card-body pt-2">
                  <h6 class="card-title"><%= recipe.title %></h6>
                  <p class="card-text"><%= recipe.ingredient %></p>
                  <a class="card-text"><small class="text-muted">
                    <%= link_to "#{recipe.comments.count} コメント", recipe_path(recipe.id) %>
                  </small></a>

                </div>
              </div>
            </div>
          </div>
          <% end %>
          <% else %>
          <p>まだありません</p>
          <% end %>
      </div>


      <div class="mypage-album">
        <h5 class="field">Recent my album</h5>
        <% if @posts.exists? %>
          <%= render 'public/posts/post_index', posts: @posts %>
        <% else %>
      </div>
        <p>まだありません</p>
        <% end %>
    </div>
  </div>
</div>