<!DOCTYPE html>
<html>
  <head>
    <title>Cookmemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="full-page">
    <header>
      <%= render "layouts/header" %>
    </header>  
    <main>
      <div id="flash-message">
        <%= render "layouts/notice" %>
      </div>
      <div class="d-flex justify-content-center mb-2">
      <%= render 'public/searches/form' %>
    </div>
    <%= yield %>
    </main>
    <footer>
        <%= render "layouts/footer" %>
      </footer>
    </div>
  </body>
</html>
